@model IEnumerable<LeVaTiShop.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content_title">
    <b class="content_title_ct">Danh sách tài khoản</b>
    <div class="content_title_time"><span id="date"></span></div>
</div>
<div class="content_main">
    <div class="content_titleList">
        <div>
            <a href="#" class="btn btn_add">
                <i class="fas fa-plus"></i>
                Thêm mới
            </a>
        </div>
        <div>
            <form action="@Url.Action("Index", "Admin")" method="post" class="searchBar_admin">
                <label for="searchInput">Tìm kiếm:</label>
                <input type="search" id="searchInput" name="key" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                <button type="submit" class="btn btn_search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="content_list">
        @if (Model == null)
        {
            <div>
                <div class="pcart_hollow">
                    <i class="icon_sad fa-solid fa-face-frown"></i>
                    <div class="pcart_hollowct">Không tìm thấy kết quả</div>
                </div>
            </div>
        }
        else
        {
            <table class="table_list">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.idUser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.role)
                        </th>
                        <th class="th_btn">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>
                                @i.idUser
                            </td>
                            <td>
                                @i.fullName
                            </td>
                            <td>
                                @i.email
                            </td>
                            <td>
                                @i.address
                            </td>
                            <td>
                                @i.phone
                            </td>
                            <td>
                                @if (i.role == true && i.idUser == 1)
                                {
                                    <p>Admin</p>
                                }
                                else if (i.role == true)
                                {
                                    <p>Quản lí</p>
                                }
                                else
                                {
                                    <p>Khách hàng</p>
                                }
                            </td>

                            <td class="td_btn">
                                <a href="@Url.Action("UserDetail","Admin", new {id=i.idUser})" class="btn btn_min btn_detail" type="button" title="Thông tin chi tiết">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                <a class="btn btn_min btn_trash" href="#" title="Xóa" onclick="show('modal_admin')">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

<div class="bg_modal" id="modal_admin">
    <div class="modal_box modal_box_detail set_center">
        <div class="modal_body">
            <div class="modal_title">
                <h5>Cảnh báo</h5>
            </div>
            <div class="modal_content">
                @*<div class="modal_content_item">
                    <label class="modal_content_label">ID tài khoản</label>
                    <input class="modal_content_input" type="number" value="1" disabled>
                </div>
                <div class="modal_content_item">
                    <label class="modal_content_label">Họ và tên</label>
                    <input class="modal_content_input" type="text" required="" value="Lê Văn">
                </div>
                <div class="modal_content_item">
                    <label class="modal_content_label">Email</label>
                    <input class="modal_content_input" type="email" required="" value="26hh@gg.com">
                </div>
                <div class="modal_content_item">
                    <label class="modal_content_label">Địa chỉ</label>
                    <input class="modal_content_input" type="text" required="" value="VN">
                </div>
                <div class="modal_content_item">
                    <label class="modal_content_label">Số điện thoại</label>
                    <input class="modal_content_input" type="tel" required="" value="0444">
                </div>
                <div class="modal_content_item">
                    <label for="exampleSelect1" class="modal_content_label">Quyền</label>
                    <select class="modal_content_input" id="exampleSelect1">
                        <option>Admin</option>
                        <option>Quản lý</option>
                        <option>Khách hàng</option>
                    </select>
                </div>*@
                <p>Bạn có chắc chắn muốn xóa</p>
            </div>
        </div>
        <div class="modal_footer">
            <button class="btn btn_save" type="button">Đồng ý</button>
            <button class="btn btn_cancel" data-dismiss="bg_modal" onclick="show('modal_admin')">Hủy bỏ</button>
        </div>
    </div>
</div>

<script>
    // Cập nhật giờ hiện tại mỗi giây
    setInterval(displayCurrentTime, 1000);
</script>