@model LeVaTiShop.Models.User
@{
    ViewBag.Title = "Chi tiết tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div style="display:flex">    
    <div class="oj_content_img">
        @if (Model.avatar == null)
        {
            <img src="~/set/img/user/default.jpg" title="Avatar @Model.nameUser" />
        }
        else
        {
            <img src="~/set/img/user/@Model.avatar" title="Avatar @Model.nameUser" />
        }
    </div>
    <div>
        <div class="modal_body">
            <div class="detail_oj_title">
                <h5>Thông tin tài khoản</h5>
            </div>
            <div class="detail_oj_content">

                <div class="oj_content_list">
                    <div class="oj_content_item">
                        <p class="oj_content_label">Mã tài khoản</p>
                        <p class="oj_content_p">@Model.idUser</p>
                    </div>
                    <div class="oj_content_item">
                        <p class="oj_content_label">Tên đăng nhập</p>
                        <p class="oj_content_p">@Model.nameUser</p>
                    </div>
                    @*<div class="oj_content_item">
                        <p class="oj_content_label">Mật khẩu</p>
                        <p class="oj_content_p">........</p>
                    </div>*@
                    <div class="oj_content_item">
                        <p class="oj_content_label">Họ và tên</p>
                        <p class="oj_content_p">@Model.fullName</p>
                    </div>
                    <div class="oj_content_item">
                        <p class="oj_content_label">Email</p>
                        <p class="oj_content_p">@Model.email</p>
                    </div>
                    <div class="oj_content_item">
                        <p class="oj_content_label">Địa chỉ</p>
                        <p class="oj_content_p">@Model.address</p>
                    </div>
                    <div class="oj_content_item">
                        <p class="oj_content_label">Số điện thoại</p>
                        <p class="oj_content_p">@Model.phone</p>
                    </div>
                    <div class="oj_content_item">
                        <p class="oj_content_label">Quyền</p>
                        <p class="oj_content_p">@(Model.role == true && Model.idUser == 1?"Admin":(Model.role==true)?"Quản lý":"Khách hàng")</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="oj_footer">
            <a class="btn btn_exit" href="@Url.Action("Index")">Quay lại</a>
        </div>
    </div>
    
</div>

