
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LeVaTiShop.Models
@{
    User u = (User)Session["User"];
}
<div class="w-100 p-4">
    <ul class="cps_list">
        <li class="cps_item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="cps_ic">❯</li>
        <li class="cps_item">Đổi mật khẩu</li>
    </ul>
</div>
<div class="boxContent">
    <div class="relo_container">
        <div class="input-container">
            <h3 style="text-align: center; font-size: 24px;">Đổi mật khẩu</h3>
        </div>
        @*<div class="input-container">
            <p class="relo_errct">@ViewBag.ERROR</p>
        </div>*@
        <div class="input-container">
            <input type="password" class="relo_input" name="password" pattern="[a-zA-Z0-9]+" id="relo_input_pass" required="">
            <label class="relo_label">Mật khẩu cũ</label>
        </div>
        <div class="input-container">
            <input type="password" class="relo_input" name="newPassword" pattern="[a-zA-Z0-9]+" id="relo_input_repass" required="">
            <label class="relo_label">Mật khẩu mới</label>
        </div>
        <div class="input-container">
            <input type="password" class="relo_input" name="reNewPassword" pattern="[a-zA-Z0-9]+" id="relo_input_repass2" required="">
            <label class="relo_label">Xác nhận mật khẩu</label>
        </div>
        <div class="relo_hidden">
            <input type="checkbox" class="relo_inputcheck" onclick="hiddenpass()">
            <div class="relo_hiddenct">Hiện mật khẩu</div>
        </div>
        <div class="input-container">
            <input type="hidden" value="@u.idUser" name="kh" required="">
        </div>
        <div class="input-container d-flex justify-content-center">
            <a href="@Url.Action("Index", "Home")" class="btn btn_submit relo_btnl">Trở lại</a>
            <button type="submit" class="btn btn_submit relo_btnr" id="ChangePassword">Cập nhật</button>
        </div>
    </div>
</div>
<script>

    toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: false,
        progressBar: true,
        positionClass: 'toast-top-center',
        preventDuplicates: false,
        onclick: null,
        showDuration: '300',
        hideDuration: '1000',
        timeOut: '5000',
        extendedTimeOut: '1000',
        showEasing: 'swing',
        hideEasing: 'linear',
        showMethod: 'fadeIn',
        hideMethod: 'fadeOut'
    };
    $(document).ready(function () {
        $('#ChangePassword').on('click', function () {
            var password = document.getElementsByName('password')[0].value;
            var newPassword = document.getElementsByName('newPassword')[0].value;
            var reNewPassword = document.getElementsByName('reNewPassword')[0].value;

            // Gửi yêu cầu Ajax để thêm sản phẩm vào giỏ hàng
            $.ajax({
                url: '@Url.Action("ChangePassword", "Login")',
                method: 'POST',
                data: {
                    password: password,
                    newPassword: newPassword,
                    reNewPassword: reNewPassword
                },
                success: function (response) {
                    if (response.code) {
                        document.getElementsByName('password')[0].value = '';
                        document.getElementsByName('newPassword')[0].value = '';
                        document.getElementsByName('reNewPassword')[0].value = '';
                        toastr.success(response.msg);
                    } else {
                        toastr.error(response.msg);
                    }
                },
                error: function () {
                    // Xử lý lỗi yêu cầu Ajax (nếu có)
                    alert('Đã xảy ra lỗi khi gửi yêu cầu.');
                }
            });
        });
        // Xử lý sự kiện keypress trong ô input
        $('input').keypress(function (event) {
            if (event.which === 13) {
                event.preventDefault();
                $('#ChangePassword').click();
            }
        });
    });
</script>
