@model LeVaTiShop.Models.User
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Login.cshtml";
}
<div class="relo">
    <div class="relo_bg"></div>
    <div class="relo_body">
        <form class="relo_container" action="/Login/ForgotPassword" method="post">
            @Html.AntiForgeryToken()
            <div class="relo_head">
                <h3 class="relo_heading">Quên mật khẩu</h3>
            </div>
            <div class="relo_err">
                <p class="relo_errct">
                    @ViewBag.ThongBao
                </p>
            </div>
            <div class="relo_err">
                <p class="relo_errctt">
                    @ViewBag.ThongBaoThanhCong
                </p>
            </div>
            <div class="relo_form">
                <div class="input-container">
                    <input type="email" class="relo_input" name="email" required="" id="relo_input_pass">
                    <label class="relo_label">Email tài khoản</label>
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="relo_btn">
                <a href="@Url.Action("Login", "Login", new {url=ViewBag.url})" class="relo_btnl btn">
                    <p type="button">TRỞ LẠI</p>
                </a>
                <button class="btn relo_btnr">Xác nhận Email</button>
                @*<input type="hidden" value="@ViewBag.url" name="url" />*@
            </div>
        </form>
    </div>
</div>
