
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}

<div class="relo">
    <div class="relo_bg"></div>
    <div class="relo_body">
        <form class="relo_container" action="/Login/Login" method="post">
            <div class="relo_head">
                <h3 class="relo_heading">Đăng nhập</h3>
                <a href="/Login/Register" class="relo_relo">Đăng ký</a>
            </div>


            <h4 style="color:red; text-align:center;">@ViewBag.ThongBao</h4>


            <div class="relo_form">
                <div class="relo_err">
                    <p class="relo_errct">
                        @ViewData["errUser"]
                    </p>
                </div>
                <div class="input-container">
                    <input type="text" class="relo_input" name="nameUser" pattern="[a-zA-Z0-9]+" required="">
                    <label class="relo_label">Tên đăng nhập</label>
                </div>
                <div class="relo_err">
                    <p class="relo_errct">
                        @ViewData["errPass"]
                    </p>
                </div>
                <div class="input-container">
                    <input type="password" class="relo_input" name="password" pattern="[a-zA-Z0-9]+" required="" id="relo_input_pass">
                    <label class="relo_label">Mật khẩu</label>
                </div>
                <div class="relo_hidden">
                    <input type="checkbox" class="relo_inputcheck" onclick="hiddenpass()">
                    <div class="relo_hiddenct">Hiện mật khẩu</div>
                </div>
            </div>
            <div class="relo_formaside">
                <div class="relo_help">
                    <a href="#" class="relo_linkhelp">Quên mật khẩu</a>
                    <a href="#" class="relo_linkhelp help">Cần trợ giúp?</a>
                </div>
            </div>
            <div class="relo_btn">
                <a href="@Url.Action("Index", "Home")" class="relo_btnl btn">
                    <p type="button" >TRỞ LẠI</p>
                </a>
                <button class="btn relo_btnr">ĐĂNG NHẬP</button>
                <input type="hidden" value="@ViewBag.url" name="url" />
            </div>
        </form>
        <div class="relo_social">
            <a href="#" class="btn icon_fb btn_wicon" onclick="not_login()">
                <i class="btn_icon fab fa-facebook-square"></i>
                <span class="title_content">Đăng nhập với Facebook</span>
            </a>
            <a href="#" class="btn icon_gg btn_wicon" onclick="not_login()">
                <i class="btn_icon fab fa-google"></i>
                <span class="title_content">Đăng nhập với Google</span>
            </a>
        </div>
    </div>
</div>
