@model LeVaTiShop.Models.User

@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w-100 p-4">
    <ul class="cps_list">
        <li class="cps_item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="cps_ic">❯</li>
        <li class="cps_item">Thông tin tài khoản</li>
    </ul>
</div>
<div class="boxContent">
    <form class="relo_container" id="changePasswordForm" action="@Url.Action("Profile", "Login")" method="post" enctype="multipart/form-data">
        <div class="input-container">
            <h3 style="text-align: center; font-size: 24px;">Thông tin tài khoản</h3>
        </div>
        <div class="relo_err">
            @if (TempData["Success"] != null)
            {
                //<p class="relo_errct">@TempData["Success"]</p>
                <div class="alert alert-success">
                    @TempData["Success"]
                </div>
            }

            @if (TempData["Error"] != null)
            {
                //<p class="relo_errct">@TempData["Error"]</p>
                <div class="alert alert-danger">
                    @TempData["Error"]
                </div>
            }
        </div>
        <div class="input-container input_avatar">
            @if (Model.avatar == null)
            {
                <img class="rounded-circle border" src="~/set/img/user/default.jpg" title="Avatar @Model.nameUser" />
            }
            else
            {
                <img class="fa-circle" src="~/set/img/user/@Model.avatar" title="Avatar @Model.nameUser" />
            }

            <label for="fileInput" class="btn btn_submit">
                Đổi ảnh
            </label>
            <input type="file" name="image" id="fileInput" accept="image/*" style="display:none;" />
        </div>
        <div class="input-container">
            <p>
                <strong>Tên đăng nhập: </strong>
                <input type="text" name="nameUser" value="@Html.DisplayFor(model => model.nameUser)" class="form-control" disabled />
            </p>
        </div>
        <div class="input-container">
            <p>
                <strong>Mật khẩu: </strong>
                <input type="password" name="password" value="........" class="form-control" disabled />
            </p>
        </div>
        <div class="input-container">
            <p>
                <strong>Email: </strong>
                <input type="email" name="email" value="@Html.DisplayFor(model => model.email)" class="form-control" />
            </p>
        </div>
        <div class="input-container">
            <p>
                <strong>Họ và tên: </strong>
                <input type="text" name="fullName" value="@Html.DisplayFor(model => model.fullName)" class="form-control" />
            </p>
        </div>
        <div class="input-container">
            <p>
                <strong>Địa chỉ: </strong>
                <input type="text" name="address" value="@Html.DisplayFor(model => model.address)" class="form-control" />
            </p>
        </div>
        <div class="input-container">
            <p>
                <strong>Số điện thoại: </strong>
                <input type="text" name="phone" value="@Html.DisplayFor(model => model.phone)" class="form-control" />
            </p>
        </div>
        <div class="input-container d-flex justify-content-center">
            <a href="@Url.Action("Index", "Home")" class="btn btn_submit relo_btnl">Trở lại</a>
            <button type="submit" class="btn btn_submit relo_btnr">Cập nhật</button>
        </div>
    </form>
</div>


<script>
    const fileInput = document.getElementById('fileInput');
    const label = document.querySelector('label[for="fileInput"]');

    label.addEventListener('click', function () {
        fileInput.click();
    });

    fileInput.addEventListener('change', function () {
        if (fileInput.files.length > 0) {
            // Xử lý tệp được chọn ở đây (ví dụ: hiển thị tên tệp)
            console.log(fileInput.files[0].name);
        }
    });
</script>


