@model IEnumerable<LeVaTiShop.Models.Order>
@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    LeVaTiShop.Models.function f = new LeVaTiShop.Models.function();
}

<div class="content_title">
    <b class="content_title_ct">Danh sách đơn hàng</b>
    <div class="content_title_time"><span id="date"></span></div>
</div>
<div class="content_main">
    <div class="content_titleList" style="justify-content: flex-end;">
        <div class="searchBar_admin">
            <form action="@Url.Action("Index", "Order")" method="post" class="searchBar_admin">
                <label for="searchInput">Tìm kiếm:</label>
                <input type="search" id="searchInput" name="key" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                <button type="submit" class="btn btn_search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="content_list">
        @if (Model == null || !Model.Any())
        {
            <div>
                <div class="pcart_hollow">
                    <i class="icon_sad fa-solid fa-face-frown"></i>
                    <div class="pcart_hollowct">Không tìm thấy kết quả</div>
                </div>
            </div>
        }
        else
        {
            <table class="table_list">
                <thead>
                    <tr>
                        <th>
                            Mã đơn hàng
                        </th>
                        <th>
                            Họ và tên
                        </th>
                        <th>
                            Thời gian đặt hàng
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Đã thanh toán
                        </th>
                        <th class="th_btn">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>
                                @i.idOrder
                            </td>
                            <td>
                                @i.User.fullName
                            </td>
                            <td>
                                @i.dateOrder
                            </td>
                            <td>
                                @{ 
                                    string state;
                                    string hexColor;
                                   f.getState(i.state, out state, out hexColor);
                                }
                                <div style="background-color:@hexColor" class="stateOrder">
                                    @state
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" class="relo_inputcheck" name="name" @(i.isPay ? "checked" : "") disabled >
                            </td>
                            <td class="td_btn">
                                <a href="@Url.Action("DetailOrder","Order", new {id = i.idOrder})" class="btn btn_min btn_detail" title="Thông tin chi tiết">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
@section scripts{
    <script>
        // Cập nhật giờ hiện tại mỗi giây
        setInterval(displayCurrentTime, 1000);
    </script>
}
