@using LeVaTiShop.Models
@{
    User u = (User)Session["User"];
    var cartItems = ViewBag.CartItems as List<CartItem>;
}
@*@{

        var routeValues = new RouteValueDictionary();
        routeValues["idUsser"] = u.idUser;
    }*@

@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length - 3)<text>...</text>
    }
}

<div class="grid">
    <div class="infor">
        <ul class="infor_list">
            <li class="infor_list-item borderleft">
                <a href="/Home/Index" class="infor_list-link">
                    <img class="infor_img" src="~/set/img/logo.jpg" alt="H&T Shop">
                </a>
            </li>
            <li class="infor_list-item">
                Liên hệ
                <a href="https://www.facebook.com/levati.it" class="infor_icon-link" target="_blank">
                    <i class="infor_icons fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/tinhlv.it/" class="infor_icon-link" target="_blank">
                    <i class="infor_icons fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
        <form class="header_search" action="@Url.Action("Search","Search")" method="post">
            <div class="header_sinput">
                <input type="text" class="search_input" name="keyWord" placeholder="Nhập tên thiết bị bạn cần tìm..." maxlength="40">
            </div>
            <button class="search_button">
                <i class="search_button-icon fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <ul class="infor_list">
            <li class="infor_list-item infor_notifyhover">
                <a class="infor_list-link">
                    <i class="infor_icons fa-solid fa-bell"></i>
                    Thông báo
                </a>
                <div class="infor_notify">
                    <div class="infor_notifydiv">Thông báo</div>
                    <div class="infor_notifyct">
                        <ul class="notify_list">
                            @Html.Action("Notify","Home")
                        </ul>
                    </div>
                </div>
            </li>
            <li class="infor_list-item">
                <a href="/Home/Help" class="infor_list-link">
                    <i class="infor_icons fa-solid fa-circle-question"></i>
                    Trợ giúp
                </a>
            </li>
            <li class="infor_list-item list_cart">
                <a href="/Cart/Cart" class="infor_list-link">
                    <i class="infor_icons fa-solid fa-cart-shopping"></i>
                    Giỏ hàng
                </a>
                @if (cartItems.Count != 0)
                {
                    <div id="cart_icon" class="d-block"></div>
                }
                else 
                {
                    <div id="cart_icon"></div>
                }@*
                <div class="pcart">
                    <div class="pcart_hollow">
                        <i class="icon_sad fa-solid fa-face-frown"></i>
                        <div class="pcart_hollowct">Không có sản phẩm trong giỏ hàng</div>
                    </div>
                    <div class="pcart_prot" style="display:none;">
                        <ul class="pcart_list" id="cart">
                        </ul>
                        <div class="pcart_btn">
                            <a onclick="buying_stock()" class="pcart_button btn btn_green">Đặt hàng</a>
                            <a onclick="clear_stock()" class="pcart_button btn pcart_clear">Xóa</a>
                        </div>
                    </div>
                </div>*@
            </li>

            @if (Session["User"] == null)
            {
                <li class="infor_list-item borderleft">
                    <a href="@Url.Action("Register", "Login", new { url = Request.Url.ToString() })" class="infor_list-link item-strong">
                        <i class="infor_icons fa-solid fa-user-plus"></i>
                        Đăng ký
                    </a>
                </li>
                <li class="infor_list-item">
                    <a href="@Url.Action("Login", "Login", new { url = Request.Url.ToString() })" class="infor_list-link item-strong">
                        <i class="infor_icons fa-solid fa-arrow-right-to-bracket"></i>
                        Đăng nhập
                    </a>
                </li>
            }
            else
            {
                <li class="infor_list-item dropdown">
                    <a class="infor_list-link item-strong dropdown-toggle" data-bs-toggle="dropdown">
                        @Truncate("Xin chào, " + u.fullName, 25)
                    </a>
                    <ul id="myDropdown" class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="@Url.Action("Profile", "Login", new{id=u.idUser})" class="dropdown-link">
                                <i class="fa-solid fa-user"></i>
                                Thông tin tài khoản
                            </a>
                        </li>
                        @*@if (u.role == true)
                        {
                            <li class="dropdown-item">
                                <a href="/Admin/Admin/Index" class="dropdown-link">
                                    <i class="fa-solid fa-list-check"></i>
                                    Quản lí Website
                                </a>
                            </li>
                        }*@
                        <li class="dropdown-item">
                            <a href="/Login/ChangePassword" class="dropdown-link">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                Đổi mật khẩu
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="/Login/Logout" class="dropdown-link">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>
            }

        </ul>
    </div>
</div>
