@using LeVaTiShop.Models
@{
    User u = (User)Session["User"];
}

@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length-3)<text>...</text>
    }
}

<div class="grid">
    <div class="infor">
        <ul class="infor_list">
            <li class="infor_list-item borderleft">
                <a href="/Home/Index" class="infor_list-link">
                    <img class="infor_img" src="~/set/img/logo.jpg" alt="H&T Shop">
                </a>
            </li>
            <li class="infor_list-item">
                Liên hệ
                <a href="https://www.facebook.com/levati.it" class="infor_icon-link" target="_blank">
                    <i class="infor_icons fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/tinhlv.it/" class="infor_icon-link" target="_blank">
                    <i class="infor_icons fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
        <form class="header_search" action="@Url.Action("Search","Search")" method="post">
            <div class="header_sinput">
                <input type="text" class="search_input" name="keyWord" placeholder="Nhập tên thiết bị bạn cần tìm..." maxlength="40">
                <!--<div class="search_topsearch">
                    <h3 class="stop_h3">Top tìm kiếm</h3>-->
                    @*<ul class="search_slist">
                        <li class="search_sitem">
                            <a href="/Home/DetailProduct" class="search_slink">Điện thoại xịn giá rẻ</a>
                        </li>
                        <li class="search_sitem">
                            <a href="product_iphone-13-pro-max.html" class="search_slink">iPhone 13 Pro max</a>
                        </li>
                        <li class="search_sitem">
                            <a href="product_xiaomi-12-pro.html" class="search_slink">Xiaomi 12 Pro</a>
                        </li>
                        <li class="search_sitem">
                            <a class="search_slink">Điện thoại rẻ như cho</a>
                        </li>
                        <li class="search_sitem">
                            <a class="search_slink">Laptop xịn sò con bò</a>
                        </li>
                    </ul>*@
                <!--</div>-->
            </div>
            <button class="search_button">
                <i class="search_button-icon fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <ul class="infor_list">
            <li class="infor_list-item infor_notifyhover">
                <a class="infor_list-link">
                    <i class="infor_icons fa-solid fa-bell"></i>
                    Thông báo
                </a>
                <div class="infor_notify">
                    <div class="infor_notifydiv">Thông báo</div>
                    <div class="infor_notifyct">
                        <ul class="notify_list">
                            <li class="notify_item">
                                <img src="~/set/img/top_mb.jpg" alt="" class="notify_img">
                                <h3 class="notify_heading">Top điện thoại cực xịn sò</h3>
                            </li>
                            <li class="notify_item">
                                <img src="~/set/img/build_pc.jpg" alt="" class="notify_img">
                                <h3 class="notify_heading">Làm sao để có thể xây dựng cho mình một bộ PC cực chất</h3>
                            </li>
                            <li class="notify_item">
                                <img src="~/set/img/iphone13s.jpg" alt="" class="notify_img">
                                <h3 class="notify_heading">iPhone 13 ra mắt</h3>
                            </li>
                            <li class="notify_item">
                                <img src="~/set/img/security.jpg" alt="" class="notify_img">
                                <h3 class="notify_heading">Cách bảo mật thông tin trên điện thoại di động</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="infor_list-item">
                <a href="/Home/Help" class="infor_list-link">
                    <i class="infor_icons fa-solid fa-circle-question"></i>
                    Trợ giúp
                </a>
            </li>
            <li class="infor_list-item list_cart">
                <a href="/Cart/Cart" class="infor_list-link">
                    <i class="infor_icons fa-solid fa-cart-shopping"></i>
                    Giỏ hàng
                </a>
                <div id="cart_icon"></div>
                <div class="pcart">
                    <div class="pcart_hollow">
                        <i class="icon_sad fa-solid fa-face-frown"></i>
                        <div class="pcart_hollowct">Không có sản phẩm trong giỏ hàng</div>
                    </div>
                    <div class="pcart_prot" style="display:none;">
                        <ul class="pcart_list" id="cart">
                        </ul>
                        <div class="pcart_btn">
                            <a onclick="buying_stock()" class="pcart_button btn btn_green">Đặt hàng</a>
                            <a onclick="clear_stock()" class="pcart_button btn pcart_clear">Xóa</a>
                        </div>
                    </div>
                </div>
            </li>

            @if (Session["User"] == null)
            {
                <li class="infor_list-item borderleft">
                    <a href="@Url.Action("Register", "Login", new { url = Request.Url.ToString() })" class="infor_list-link item-strong">
                        <i class="infor_icons fa-solid fa-user-plus"></i>
                        Đăng ký
                    </a>
                </li>
                <li class="infor_list-item">
                    <a href="@Url.Action("Login", "Login", new { url = Request.Url.ToString() })" class="infor_list-link item-strong">
                        <i class="infor_icons fa-solid fa-arrow-right-to-bracket"></i>
                        Đăng nhập
                    </a>
                </li>
            }
            else
            {
                <li class="infor_list-item dropdown">
                    <a class="infor_list-link item-strong dropdown-toggle" data-bs-toggle="dropdown">
                        @Truncate("Xin chào, " + @u.fullName, 25)
                    </a>
                    <ul id="myDropdown" class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="@Url.Action("Profile", "Login", new{id=u.idUser})" class="dropdown-link">
                                <i class="fa-solid fa-user"></i>
                                Thông tin tài khoản
                            </a>
                        </li>
                        @if (u.role == true)
                        {
                            <li class="dropdown-item">
                                <a href="/Admin/Admin/Index" class="dropdown-link">
                                    <i class="fa-solid fa-list-check"></i>
                                    Quản lí Website
                                </a>
                            </li>
                        }
                        <li class="dropdown-item">
                            <a href="/Login/ChangePassword" class="dropdown-link">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                Đổi mật khẩu
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="/Login/Logout" class="dropdown-link">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                Đăng xuất
                            </a>
                        </li>
                    </ul>
                </li>
            }

        </ul>
    </div>
</div>
