@model IEnumerable<LeVaTiShop.Models.Product>
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content_title">
    <b class="content_title_ct">Danh sách sản phẩm</b>
    <div class="content_title_time"><span id="date"></span></div>
</div>
<div class="content_main">
    <div class="content_titleList">
        <div>
            <a href="/Admin/Product/AddProduct" class="btn btn_add">
                <i class="fas fa-plus"></i>
                Thêm mới
            </a>
        </div>
        <div>
            <form action="@Url.Action("Index", "Product")" method="post" class="searchBar_admin">
                <label for="searchInput">Tìm kiếm:</label>
                <input type="search" id="searchInput" name="key" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                <button type="submit" class="btn btn_search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="content_list">
        @if (Model == null || !Model.Any())
        {
            <div>
                <div class="pcart_hollow">
                    <i class="icon_sad fa-solid fa-face-frown"></i>
                    <div class="pcart_hollowct">Không tìm thấy kết quả</div>
                </div>
            </div>
        }
        else
        {
            <table class="table_list">
                <thead>
                    <tr>
                        <th>
                            Mã sản phẩm
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Ảnh bìa
                        </th>
                        <th>
                            Tồn kho
                        </th>
                        <th>
                            Giá bán
                        </th>
                        <th>
                            Giá bán giảm giá
                        </th>
                        <th>
                            Tên thương hiệu
                        </th>
                        <th>
                            Danh mục
                        </th>
                        <th class="th_btn">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>
                                @i.idProduct
                            </td>
                            <td>
                                @i.nameProduct
                            </td>
                            <td>
                                @{
                                    LeVaTiShop.Models.function f = new LeVaTiShop.Models.function();
                                    List<string> col = new List<string>();
                                    List<string> img = new List<string>();
                                    f.analysisImage(i.image, out col, out img);
                                }
                                <img src="~/set/img/product/@i.nameProduct/@img[0]" alt="Alternate Text" style=" object-fit: cover;" />
                            </td>
                            <td>
                                @{
                                    f.amountProduct(i.inventory, out List<string> amount);
                                    int amountTrue = 0;
                                    for (int id = 0; id < amount.Count; id++)
                                    {
                                        amountTrue += int.Parse(amount[id]);
                                    }
                                }
                                @amountTrue
                            </td>
                            <td>
                                @i.price
                            </td>
                            <td>
                                @i.discountedPrice
                            </td>
                            <td>
                                @i.Brand.nameBrand
                            </td>
                            <td>
                                @i.Category.name
                            </td>

                            <td class="td_btn">
                                <a href="@Url.Action("ProductDetail","Product", new {id=i.idProduct})" class="btn btn_min btn_detail" type="button" title="Thông tin chi tiết">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                <a href="@Url.Action("EditProduct","Product", new {id=i.idProduct})" class="btn btn_min btn_edit" type="button" title="Sửa">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button class="btn btn_min btn_trash" type="button" title="Xóa" name="delete" id="@i.idProduct">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section scripts{
    <script>
        // Cập nhật giờ hiện tại mỗi giây
        setInterval(displayCurrentTime, 1000);

        var idToDelete;
        $(document).on('click', "button[name='delete']", function () {
            idToDelete = $(this).attr('id');
            $('#modalbox_heading').text('Cảnh báo');
            $('#modalbox_ct').text('Bạn có chắc chắn muốn xóa sản phẩm này?');
            $('#btnDelete').show();
            $('#btnCancel').show();
            $('#modal_admin').show();

            hide_Model("modal_admin");
        })

        $('#btnDelete').click(function () {
            $.ajax({
                url: '/Admin/Product/DeleteProduct',
                type: 'post',
                data: {
                    id: idToDelete
                },
                success: function (data) {
                    if (data.code) {
                        toastr.success(data.msg + '<br>Tải lại trang sau 2 giây.');
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        toastr.error(data.msg);
                    }
                    $('#modal_admin').hide();
                }
            });
        })
    </script>
    }

