@model IEnumerable<LeVaTiShop.Models.CartItem>

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

    LeVaTiShop.Models.function f = new LeVaTiShop.Models.function();
}

<div class="w-100 p-4">
    <ul class="cps_list">
        <li class="cps_item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="cps_ic">❯</li>
        <li class="cps_item">Giỏ hàng</li>
    </ul>
</div>
<h2>Giỏ Hàng</h2>
@if (Model == null || !Model.Any())
{
    <div class="cart_empty">
        <div class="pcart_hollow">
            <i class="icon_sad fa-solid fa-face-frown"></i>
            <div class="pcart_hollowct">Giỏ hàng trống</div>
        </div>
    </div>
}
else
{
    <table class="table table_cart">
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Ảnh bìa
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Thành tiền
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.nameProduct
                </td>

                <td>
                    <img src="~/set/img/product/@item.nameProduct/@item.image" alt="@item.nameProduct" />
                </td>
                <td>
                    @item.price.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ
                </td>
                <td>
                    <input class="form-control" type="number" name="newQuantity" min="1" max="@f.getProduct(item.ID).inventory" value="@item.quantity" onchange="updateQuantity(@item.ID, this.value)" />
                </td>
                <td>
                    @item.Total.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) VNĐ
                </td>
                <td>
                    <a href="@Url.Action("DetailProduct", "Home", new { id = item.ID })" class="btn btn_min btn_detail" title="Chi tiết sản phẩm">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a href="@Url.Action("Delete", "Cart", new { id = item.ID })" class="btn btn_min btn_trash" title="Xóa sản phẩm">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
    <div class="d-flex">
        <a href="@Url.Action("ClearCart", "Cart")" class="btn relo_btnl">
            Xóa hết sản phẩm
        </a>
        <a href="@Url.Action("Checkout", "Cart")" class="btn relo_btnr">
            Mua hàng
        </a>
    </div>

}

<script>
    function updateQuantity(id, newQuantity) {
        $.ajax({
            url: '@Url.Action("UpdateQuantity", "Cart")',
            type: 'POST',
            data: { id: id, newQuantity: newQuantity },
            success: function () {
                location.reload(); // Tải lại trang giỏ hàng sau khi cập nhật số lượng
            }
        });
    }
</script>
