
@{
    ViewBag.Title = "Khác";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content_title">
    <b class="content_title_ct">Khác</b>
    <div class="content_title_time"><span id="date"></span></div>
</div>
<div class="content_main">
    @*<div class="content_titleList" style="justify-content: flex-end;">
        <div class="searchBar_admin">
            <form action="@Url.Action("Index", "Order")" method="post" class="searchBar_admin">
                <label for="searchInput">Tìm kiếm:</label>
                <input type="search" id="searchInput" name="key" class="form-control form-control-sm" placeholder="" aria-controls="sampleTable">
                <button type="submit" class="btn btn_search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>*@
    <div class="content_list">
        <div class="d-flex p-4 justify-content-evenly">
            <button class="btn btn_save" name="user">
                Khôi phục tài khoản
            </button>
            <button class="btn btn_save" name="product">
                Khôi phục sản phẩm
            </button>
            <a href="@Url.Action("AddSlide")" class="btn btn_save" data-toggle="modal" data-target="#myModal">
                Quản lý SlideShow
            </a>
        </div>
    </div>
</div>

@section scripts{
    <script>
    $(document).on('click', "button[name='user']", function () {
        loadUserList();
    });

    $(document).on('click', "button[name='product']", function () {
        loadProductList();

    });

    $(document).on('click', "button[name='deleteUser']", function () {
        var id = $(this).attr('id');
        $.ajax({
            url: '@Url.Action("RestoreUser")',
            type: 'post',
            data: {
                id: id
            },
            success: function (data) {
                if (data.code) {
                    toastr.success(data.msg);
                    loadUserList();
                }
                else {
                    toastr.error(data.msg);
                    return;
                }
            },
            error: function (xhr, status, error) {
                toastr.error('Lỗi khôi phục');
            }
        });

    });

    $(document).on('click', "button[name='deleteProduct']", function () {
        var id = $(this).attr('id');
        $.ajax({
            url: '@Url.Action("RestoreProduct")',
            type: 'post',
            data: {
                id: id
            },
            success: function (data) {
                if (data.code) {
                    toastr.success(data.msg);
                    loadProductList();
                }
                else {
                    toastr.error(data.msg);
                    return;
                }
            },
            error: function (xhr, status, error) {
                toastr.error('Lỗi khôi phục');
            }
        });

    });

    function loadUserList() {
        $.ajax({
            url: '@Url.Action("listUserDeleted")',
            type: 'get',
            success: function (data) {
                if (data.code) {
                    $('#modalbox_heading').text('Khôi phục tài khoản');

                    // Xóa nội dung hiện tại của #modalbox_ct
                    $('#modalbox_ct').empty();
                    var list = "";


                    for (var i = 0; i < data.listUser.length; i++) {
                        var user = data.listUser[i];
                        list += '<tr>\
                                    <td>\
                                        '+ user.nameUser + '\
                                    </td>\
                                    <td>\
                                        '+ user.email + '\
                                    </td>\
                                    <td>'+ (user.role == true ? '<p>Quản lí</p>' : '<p>Khách hàng</p>') + '\
                                    </td>\
                                    <td>\
                                        <button class="btn btn_min btn_save" name="deleteUser" style="width:auto;" id="'+ user.idUser + '" title="Xóa">\
                                            <i class="fa-solid fa-window-restore"></i>\
                                        </button>\
                                    </td>\
                                </tr>';
                    }
                        var content = '<table class="table_list">\
                                    <thead>\
                                        <tr>\
                                            <th>\
                                                Tên tài khoản\
                                            </th>\
                                            <th>\
                                                Email\
                                            </th>\
                                            <th>\
                                                Quyền\
                                            </th>\
                                            <th class="th_btn">\
                                            </th>\
                                        </tr>\
                                    </thead>\
                                    <tbody>'+ list + '\
                                    </tbody>\
                                </table>';

                        // Thêm thẻ img và dropdownlist vào #modalbox_ct
                        $('#modalbox_ct').append(content);
                        $('#btnDelete').hide();
                        $('#btnCancel').hide();
                        $('#modal_admin').show();
                        hide_Model("modal_admin");
                }
                else {
                    toastr.error(data.msg);
                    return;
                }
            },
            error: function (xhr, status, error) {
                toastr.error('Error occurred while fetching product list.');
            }
        });
    }

    function loadProductList() {
        $.ajax({
            url: '@Url.Action("listProductDeleted")',
            type: 'get',
            success: function (data) {
                if (data.code) {
                    $('#modalbox_heading').text('Khôi phục sản phẩm');

                    // Xóa nội dung hiện tại của #modalbox_ct
                    $('#modalbox_ct').empty();
                    var list = "";


                    for (var i = 0; i < data.listProduct.length; i++) {
                        var product = data.listProduct[i];
                        list += '<tr>\
                                    <td>\
                                        '+ product.nameProduct + '\
                                    </td>\
                                    <td>\
                                        <img src="/set/img/product/'+ product.nameProduct + '/' + data.image[i] + '" alt="' + product.nameProduct+'" style=" object-fit: cover;" />\
                                    </td>\
                                    <td>\
                                        '+ data.brand[i] + '\
                                    </td>\
                                    <td>\
                                        <button class="btn btn_min btn_save" name="deleteProduct" style="width:auto;" id="'+ product.idProduct + '" title="Xóa">\
                                            <i class="fa-solid fa-window-restore"></i>\
                                        </button>\
                                    </td>\
                                </tr>';
                    }
                    var content = '<table class="table_list">\
                                <thead>\
                                    <tr>\
                                        <th>\
                                            Tên sản phẩm\
                                        </th>\
                                        <th>\
                                            Ảnh bìa\
                                        </th>\
                                        <th>\
                                            Thương hiệu\
                                        </th>\
                                        <th class="th_btn">\
                                        </th>\
                                    </tr>\
                                </thead>\
                                <tbody>'+ list + '\
                                </tbody>\
                            </table>';

                        // Thêm thẻ img và dropdownlist vào #modalbox_ct
                    $('#modalbox_ct').append(content);
                    $('#btnDelete').hide();
                    $('#btnCancel').hide();
                    $('#modal_admin').show();
                    hide_Model("modal_admin");
                }
                else {
                    toastr.error(data.msg);
                    return;
                }
            },
            error: function (xhr, status, error) {
                toastr.error('Error occurred while fetching product list.');
            }
        });
    }

    $('#btnDelete').click(function () {
        $.ajax({
            url: '/Admin/Product/DeleteProduct',
            type: 'post',
            data: {
                id: idToDelete
            },
            success: function (data) {
                if (data.code) {
                    toastr.success(data.msg + '<br>Tải lại trang sau 2 giây.');
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                } else {
                    toastr.error(data.msg);
                }
                $('#modal_admin').hide();
            }
        });
    })
    </script>
    }




